.App {
  display: flex;
  height: 100vh;
  background-color: #020230;
  color: #fff;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url(./assets/bg.jpg) center;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.bottom {
  height: 50%;
}

.pyramid {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}
